$border-radius						: .4em;
$background							: #000;
$color								: #eee;
$color-hover						: #88c5eb;
$not-in-month						: #666;
$not-in-month-hover					: #999;
$disabled							: #333;
$selected-background 				: #136a9f;
$not-in-month-selected-background	: #17384d;
$day-of-week						: $not-in-month-hover;