.datepicker {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 196px;
	height: 147px;
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
}
.datepickerContainer {
	background: #121212;
	position: absolute;
	top: 10px;
	left: 10px;
}
.datepickerHidden {
	display: none;
}
.datepicker table {
	border-collapse:collapse;
}
.datepicker [data-pmu-button] {
	color: #eee;
	text-decoration: none;
	cursor: default;
	outline: none;
}
.datepicker [data-pmu-button]:hover {
	color: #88c5eb;
}
.datepicker table td {
	text-align: right;
	padding: 0;
	margin: 0;
}
.datepicker th {
	text-align: center;
	color: #999;
	font-weight: normal;
}
.datepicker tbody th {
	text-align: left;
}
.datepicker tbody a {
	display: block;
}
.datepickerDays a {
	width: 20px;
	line-height: 16px;
	height: 16px;
	padding-right: 2px;
}
.datepickerYears a,
.pmu-months a{
	width: 44px;
	line-height: 36px;
	height: 36px;
	text-align: center;
}
td.datepickerNotInMonth a {
	color: #666;
}
.datepickerDays .datepickerSelected{
	background: #136A9F;
}
.datepickerDays .datepickerNotInMonth.datepickerSelected {
	background: #17384d;
}
.datepickerYears .datepickerSelected,
.pmu-months .datepickerSelected{
	background: #17384d;
}
.datepicker .datepickerNotInMonth a:hover {
	color: #999;
}
.pmu-next,
.pmu-prev,
.pmu-month {
	display:inline-block;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.pmu-next {
	float: right;
	width: 20px;
}
.pmu-month {
	display: block;
}
.pmu-prev {
	float: left;
	width: 20px;
}
.datepickerViewDays .pmu-months,
.datepickerViewDays .datepickerYears {
	display: none;
}
.datepickerViewMonths .datepickerDays,
.datepickerViewMonths .datepickerYears,
.datepickerViewMonths .datepickerDoW {
	display: none;
}
.datepickerViewYears .datepickerDays,
.datepickerViewYears .pmu-months,
.datepickerViewYears .datepickerDoW {
	display: none;
}
.datepickerDisabled a,
.datepickerDisabled.datepickerNotInMonth a{
	color: #333;
}
.datepickerDisabled a:hover {
	color: #333;
}
.datepickerSpecial a {
	background: #700;
}
.datepickerSpecial.datepickerSelected a {
	background: #a00;
}