.datepicker {
	background: #121212;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
}
.datepickerHidden {
	display: none;
}
.pmu-instance {
	display: inline-block;
}
.datepicker .pmu-button {
	color: #eee;
	text-decoration: none;
	cursor: default;
	outline: none;
}
.datepicker .pmu-button:hover {
	color: #88c5eb;
}
.datepicker table td {
	text-align: right;
	padding: 0;
	margin: 0;
}
.datepicker th {
	text-align: center;
	color: #999;
	font-weight: normal;
}
.datepicker tbody th {
	text-align: left;
}
.datepicker tbody a {
	display: block;
}
.datepickerDays a {
	width: 20px;
	line-height: 16px;
	height: 16px;
	padding-right: 2px;
}
.datepickerYears a,
.pmu-months a{
	width: 44px;
	line-height: 36px;
	height: 36px;
	text-align: center;
}
td.datepickerNotInMonth a {
	color: #666;
}
.datepickerDays .pmu-selected{
	background: #136A9F;
}
.datepickerDays .datepickerNotInMonth.pmu-selected {
	background: #17384d;
}
.datepickerYears .pmu-selected,
.pmu-months .pmu-selected{
	background: #17384d;
}
.datepicker .datepickerNotInMonth a:hover {
	color: #999;
}
.pmu-next,
.pmu-prev,
.pmu-month {
	display:inline-block;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.pmu-next {
	float: right;
	width: 20px;
}
.pmu-month {
	display: block;
}
.pmu-prev {
	float: left;
	width: 20px;
}
.pmu-view-days .pmu-months,
.pmu-view-days .datepickerYears {
	display: none;
}
.pmu-view-months .datepickerDays,
.pmu-view-months .datepickerYears,
.pmu-view-months .datepickerDoW {
	display: none;
}
.pmu-view-years .datepickerDays,
.pmu-view-years .pmu-months,
.pmu-view-years .datepickerDoW {
	display: none;
}
.pmu-disabled a,
.pmu-disabled.datepickerNotInMonth a{
	color: #333;
}
.pmu-disabled a:hover {
	color: #333;
}
.datepickerSpecial a {
	background: #700;
}
.datepickerSpecial.pmu-selected a {
	background: #a00;
}