@import 'config';

.pickmeup {
	background    : $background;
	border-radius : $border-radius;
	display       : none;
	position      : absolute;

	&.pmu-hidden {
		display : none;
	}

	&.pmu-view-days {
		.pmu-months,
		.pmu-years {
			display : none;
		}
	}
	&.pmu-view-months {
		.pmu-days,
		.pmu-years,
		.pmu-day-of-week {
			display : none;
		}
	}
	&.pmu-view-years {
		.pmu-days,
		.pmu-months,
		.pmu-day-of-week {
			display : none;
		}
	}

	.pmu-instance {
		display : inline-block;
		padding : .5em;

		.pmu-button {
			color           : $color;
			cursor          : pointer;
			display         : inline-block;
			outline         : none;
			text-decoration : none;
		}

		.pmu-button:hover {
			color : $color-hover;
		}

		.pmu-not-in-month {
			color : $not-in-month;
		}

		.pmu-disabled,
		.pmu-disabled:hover {
			color  : $disabled;
			cursor : default;
		}

		.pmu-selected {
			background : $selected-background;
		}

		.pmu-not-in-month.pmu-selected {
			background : $not-in-month-selected-background;
		}

		nav {
			line-height : 2em;

			.pmu-next,
			.pmu-prev,
			.pmu-month {
				text-align : center;
			}
			.pmu-next {
				float : right;
				width : 20px;
			}
			.pmu-month {
				display : block;
			}
			.pmu-prev {
				float : left;
				width : 20px;
			}
		}

		.pmu-years,
		.pmu-months {
			.pmu-button {
				padding    : .9em 0;
				text-align : center;
				width      : 3.5rem;
			}
		}

		.pmu-day-of-week {
			color  : $day-of-week;
			cursor : default;
		}

		.pmu-day-of-week,
		.pmu-days > div {
			line-height : 1em;

			div {
				display    : inline-block;
				padding    : .2em 0;
				text-align : center;
				width      : 2rem;
			}
		}
	}
}